@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  background: #2d2640;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.website-grid {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 8rem 1fr 200px;
      grid-template-rows: 8rem 1fr 200px;
}

.navbar {
  background: red;
}

.main-content {
  background: pink;
}

.footer {
  background: yellow;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
}

.navbar-content--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 120rem;
  position: relative;
}

@media only screen and (max-width: 850px) {
  .navbar-content--wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navbar-content--wrap > .logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar-content--wrap > .logo .img-logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar-content--wrap > .hamburger--wrap {
  display: none;
}

@media only screen and (max-width: 850px) {
  .navbar-content--wrap > .hamburger--wrap {
    display: block;
  }
}

.navbar-content--wrap > .hamburger--wrap .hamburger {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar-content--wrap > .links--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .navbar-content--wrap > .links--wrap {
    padding: 3rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    background: blue;
  }
  .navbar-content--wrap > .links--wrap.display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar-content--wrap > .links--wrap .link + .link {
  margin-left: 3rem;
}

@media only screen and (max-width: 850px) {
  .navbar-content--wrap > .links--wrap .link + .link {
    margin-left: 0;
    margin-top: 3rem;
  }
}

.navbar-content--wrap > .links--wrap .link.-plansLink {
  border: solid black 2px;
  padding: 0.75rem 2.5rem;
}

@media only screen and (max-width: 850px) {
  .navbar-content--wrap > .links--wrap .link.-plansLink {
    width: 100%;
    text-align: center;
  }
}

.navbar-content--wrap > .links--wrap .link a {
  color: black;
}
/*# sourceMappingURL=main.css.map */