@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  background: #2d2640;
}

body.noScroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.view-plans-link {
  text-align: center;
  padding: 0.75rem 2.5rem;
}

.view-plans-link.-black {
  color: black;
  border: solid black 2px;
}

.view-plans-link.-white {
  color: white;
  border: solid white 2px;
}

.website-grid {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 8rem 1fr 200px;
      grid-template-rows: 8rem 1fr 200px;
}

.navbar {
  background: #fafafa;
}

.main-content {
  background: #fafafa;
}

.footer {
  background: yellow;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
  position: relative;
  z-index: 999;
}

.navbar-content--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 118rem;
  position: relative;
}

@media only screen and (max-width: 750px) {
  .navbar-content--wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navbar-content--wrap > .logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar-content--wrap > .logo .img-logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar-content--wrap > .hamburger--wrap {
  display: none;
}

@media only screen and (max-width: 750px) {
  .navbar-content--wrap > .hamburger--wrap {
    display: block;
  }
}

.navbar-content--wrap > .hamburger--wrap .hamburger {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

.navbar-content--wrap > .links--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .navbar-content--wrap > .links--wrap {
    padding: 3rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    position: fixed;
    top: 8rem;
    left: 0;
    bottom: 0;
    background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom, #2b272f;
    background-size: contain;
  }
  .navbar-content--wrap > .links--wrap.display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar-content--wrap > .links--wrap li + li {
  margin-left: 3rem;
}

@media only screen and (max-width: 750px) {
  .navbar-content--wrap > .links--wrap li + li {
    margin-left: 0;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 750px) {
  .navbar-content--wrap > .links--wrap li {
    width: 100%;
  }
}

.navbar-content--wrap > .links--wrap .view-plans-link {
  display: block;
}

@media only screen and (max-width: 750px) {
  .navbar-content--wrap > .links--wrap .view-plans-link {
    color: white;
    border-color: white;
  }
}

.navbar-content--wrap > .links--wrap .link {
  color: black;
}

@media only screen and (max-width: 750px) {
  .navbar-content--wrap > .links--wrap .link {
    color: white;
  }
}

.hero-section {
  padding: 10rem 2rem;
  position: relative;
  isolation: isolate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 750px) {
  .hero-section {
    padding: 0;
  }
}

.hero-section .backgroundPiece {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60rem;
  background: #2d2640;
  z-index: -1;
}

@media only screen and (max-width: 750px) {
  .hero-section .backgroundPiece {
    min-height: 100%;
  }
}

.hero-section .bg-pattern-right-desktop {
  position: absolute;
  right: 0rem;
  top: -8rem;
  z-index: 999;
  width: 30%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

@media only screen and (max-width: 750px) {
  .hero-section .bg-pattern-right-desktop {
    display: none;
  }
}

.hero-section .bg-pattern-left-desktop {
  position: absolute;
  left: 0rem;
  bottom: -8rem;
  z-index: 999;
  width: 13.5%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

@media only screen and (max-width: 750px) {
  .hero-section .bg-pattern-left-desktop {
    display: none;
  }
}

.hero-section .bg-pattern-left-mobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  .hero-section .bg-pattern-left-mobile {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.hero-section .bg-pattern-right-mobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  .hero-section .bg-pattern-right-mobile {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: block;
    position: absolute;
    bottom: -17rem;
    right: 0;
  }
}

.hero-content--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 118rem;
}

@media only screen and (max-width: 750px) {
  .hero-content--wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.hero-content--wrap > .hero-text--wrap {
  position: relative;
  margin-top: 5rem;
  width: 100%;
  padding: 0 5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 750px) {
  .hero-content--wrap > .hero-text--wrap {
    padding: 10rem 2rem;
    margin-top: 0;
    text-align: center;
  }
}

.hero-content--wrap > .hero-text--wrap .heroTitle {
  font-weight: 400;
  color: white;
  font-size: clamp(4rem, 5vw, 7rem);
  line-height: 1;
}

.hero-content--wrap > .hero-text--wrap .heroParagraph {
  color: white;
  margin-top: 2rem;
  line-height: 1.6;
  font-weight: 700;
}

.hero-content--wrap > .hero-text--wrap .view-plans-link {
  margin-top: 3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 750px) {
  .hero-content--wrap > .hero-text--wrap .view-plans-link {
    margin: 3rem auto;
  }
}

.hero-content--wrap > .hero-img--wrap {
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .hero-content--wrap > .hero-img--wrap {
    margin: auto;
  }
}

.hero-content--wrap > .hero-img--wrap .img {
  position: relative;
}

.info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-content--wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 118rem;
  padding: 10rem 2rem;
}

.info-content--wrap .infoTitle {
  font-size: clamp(4rem, 5vw, 7rem);
}

.info-content--wrap > .three-columns--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8rem;
}

.info-content--wrap > .three-columns--wrap > .column .icon {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 3rem;
}

.info-content--wrap > .three-columns--wrap > .column .columnTitle {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.info-content--wrap > .three-columns--wrap > .column .infoParagraph {
  line-height: 1.6;
  font-size: 1.6rem;
  max-width: 37ch;
}

.info-content--wrap > .three-columns--wrap > .column + .column {
  margin-left: 4rem;
}
/*# sourceMappingURL=main.css.map */