.navbar {
    @include flexCenter();
    padding: 2rem;
    position: relative;
    z-index: 999;
}

.navbar-content--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    position: relative;

    @include mobileSize {
        flex-wrap: wrap;
    }

    > .logo {
        width: max-content;

        .img-logo {
            width: max-content;
        }
    }

    > .hamburger--wrap {
        display: none;
        @include mobileSize {
            display: block;
        }

        .hamburger {
            width: max-content;
            cursor: pointer;
        }
    }

    > .links--wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        @include mobileSize {
            padding: 3rem;
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
            position: fixed;
            top: 8rem;
            left: 0;
            bottom: 0;
            background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom,
                color(neutral-very-dark-violet);
            background-size: contain;

            &.display {
                display: flex;
            }
        }

        li + li {
            margin-left: 3rem;

            @include mobileSize {
                margin-left: 0;
                margin-top: 3rem;
            }
        }

        li {
            @include mobileSize {
                width: 100%;
            }
        }

        .view-plans-link {
            display: block;
            @include mobileSize {
                color: white;
                border-color: white;
            }
        }

        .link {
            color: black;
            @include mobileSize {
                color: white;
            }
        }
    }
}
