.website-grid {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr 200px;
}

.navbar {
    background: color(neutral-very-light-gray);
}

.main-content {
    background: color(neutral-very-light-gray);
}

.footer {
    background: yellow;
}
