html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    font-size: 1.6rem;
    font-family: "Karla", sans-serif;
    background: color(primary-dark-violet);

    &.noScroll {
        overflow: hidden;
    }
}

h1,
h2,
h3 {
    font-family: "DM Serif Display", serif;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}
